.blogPage{margin:20px; font-style:Arial,Helvetica Neue,Helvetica,sans-serif;}
header{background-color:#000; color:#fff; font-weight:bold; padding:20px;}
article{border-line-botom:dotted 1px; #ccc; width:90%;}

