
body{margin:0px; background-color:#4EA3E5; background: linear-gradient(180deg, rgba(81,81,81,1) 13%, rgba(125,185,232,0.9164040616246498) 100%); color:#fff;}
header{font-family:poppins; font-weight:bold; font-size:1.7em; background-color:#000000; padding:20px; margin-bottom:80px; position:relative;}
/*-xmas-body{margin:0px; background-color:#253322; background: linear-gradient(180deg, rgba(0,0,0,1) 13%, rgba(0,99,5,0.9164040616246498) 100%); color:#fff;}*/
/*-xmas-header{font-family:poppins; font-weight:bold; font-size:1.7em; background-color:#a20303; padding:20px; margin-bottom:80px; position:relative;}*/

#title{margin:0px; padding-left:20px; width:50%}
article{display:block;}   
#featureImageBG{opacity:0; float:right; padding:10px; width:350px; height:350px; display:block; background-image:url(../images/boom-bg.jpg); background-size:contain; background-repeat:no-repeat; overflow:visible; margin-left:10px; animation-name:bgAppear; animation-delay:.25s; animation-duration:.75s; animation-fill-mode:forwards; }
/*-xmas-#featureImageBG{opacity:0; float:right; padding:10px; width:350px; height:350px; display:block; background-image:url(../images/northPoleBG.jpg); background-size:contain; background-repeat:no-repeat; overflow:visible; margin-left:10px; animation-name:bgAppear; animation-delay:.25s; animation-duration:.75s; animation-fill-mode:forwards; }*/
#featureImage{overflow:visible;}
#featureImage img{width:0px; animation-name:fly-in; animation-delay:1.2s; animation-duration:1.5s; animation-fill-mode:forwards; animation-timing-function:ease-out;}

#featureD{padding-bottom:75px; display: grid; grid-template-columns: 60% 40%}
#featureD div:first-child{padding-right:25px;}
#featureD a, button{display:block; background-color:#a20303; color:#ffffff; font-weight:bold; padding:10px; max-width:400px; border-radius:10px; text-decoration:none; text-align:center; border-bottom:dotted 1px #ffa500;}
#featureD a:hover{background-color:#ffa500; color:#000;}

  #content{width:80%; max-width:1020px; margin:auto; font-family:poppins; font-size:1.25em;}
  .gallery{display: grid;  grid-template-columns: repeat(8, 1fr); grid-template-rows: auto; gap: 5px; max-width: 1000px;}
  .gallery img{width:110px; height:180px; object-fit: cover; cursor:pointer; box-shadow:#000 1px 9px 19px;}
  .gallery img:hover{border:dotted 1px #ccc; margin:-1px;}

  #lightbox img {max-height:83%;}

.row {display: none;}
.selected {display: block;}

footer{display:block; background-color:#000; color:#fff; font-family:poppins; text-align:center; padding:30px; margin-top:100px;}
#icons a{text-decoration:none; display:inline-block; padding:10px; color:#fff;}
#icons a:visited{color:#ccc}

#radioWidget {width:350px; position:absolute; top:10px; right:10px; opacity:.75;}
#radioWidget:hover {opacity:1;}
#radioWidget:hover {opacity:85;}



@keyframes fly-in{
  from{opacity:0; width:0px; margin-left:0px; padding-top:150px; }
  to {opacity:1; width:350px; margin-left:50px;}
}


@keyframes fly-in2{
  from{opacity:0; width:0px; margin-left:0px; padding-top:150px; }
  to {opacity:1; width:270px; margin-left:30px;}
}

@keyframes fly-in3{
  from{opacity:0; width:0px; margin-left:0px; padding-top:150px; }
  to {opacity:1; width:190px; margin-left:10px;}
}


@keyframes fly-in4{
  from{opacity:0; width:0px; margin-left:0px; padding-top:150px; }
  to {opacity:1; width:250px; margin-left:0px;}
}


@keyframes bgAppear{
  from{opacity:0; margin-right:50px; transform:rotate(90deg);}
  to{opacity:1; transform:rotate(0deg); }
}


#lightbox {
  background: rgba(0,0,0,0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.close, .prev, .next {
  position: absolute;
  cursor: pointer;
  font-weight:bold;
  font-size:28px;
}

.close {
  right: 10px;
  top: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


@media screen and (max-width: 1050px) {
  #content{width:90%;}
  .gallery{grid-template-columns:auto auto auto auto;}
  .gallery img {width:100%;}
  #featureImageBG{float:none; width:80%; margin:35px auto 0px auto; padding-top:10px;}
  #featureImage img{animation-name:fly-in2;}
  #featureD{padding-bottom:5px;}

}


@media screen and (max-width: 825px) {
  
 
  #featureImage img{animation-name:fly-in3;}
#radioWidget {width:310px; position:relative; top:20px; right:0px;}
 
}





@media screen and (max-width: 550px) {
  
  #title{padding-left:0px; font-size:1.5em;}
  #content{width:90%; }
  .gallery{grid-template-columns:auto }
  .gallery img:first-child{display:block; width:100%; height:300px;}
  .gallery img {display:none;}

  #featureD{display:block; padding-bottom:20px;}
  #featureD div:first-child{padding-right:0px;}
  #featureImage img{animation-name:fly-in;}

  #featureImageBG{float:none; width:80%; margin:50px auto 0px auto; padding-top:50px;}
  button{display:none;} 


}

@media screen and (max-width: 450px) {
 
#content{width:90%;}
header{margin-bottom:0px;}
  #featureD{display:block; padding-bottom:0px;}
  #featureImage img{animation-name:fly-in4; animation-delay:3s; animation-duration-3s;}

  #featureImageBG{float:none; width:70%; margin:20px auto -70px auto; }
}


